#before, #after {
    position: fixed;
    width: 100%;
    background: #1c2020;
    z-index: 1;
    left: 0;
    overflow: hidden; /* Hide overflow content */
}

#before {
    top: 0;
    height: 50%;
}

#after {
    bottom: 0;
    height: 50%;
}

:root { 
  --primary-clr: #FA7840;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

.boxBmi {
  max-width: 700px;
  /*margin: 50px auto;*/
  margin-right:80px;
  margin-top:100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-right:auto;
}


.input-container {
  margin-bottom: 5px;
  text-align: left;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight:bold;
  color:black;
}

h1{
    
    padding-top:10px;
    color:white;
    font-size:3vw;
}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-image: url("home.png");
            padding-top: 350px;

        }
      
          body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(19, 12, 12, 0.6);
            z-index: -1;
        }
        


      .topnav { background-color: white; 
          overflow: hidden; 
          text-align: center; 
          padding: 25px 16px; 
          position: fixed; 
          width: 100%; 
          top:0; 
          left: 0; 
          z-index: 1000;
           height: 70px; 
        }

        .topnav a {
        display: inline-block;
        color: #000000;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
        margin-top: 2px;
        margin-bottom: 2px;
        position: relative;
        z-index: 1;
      }


      .topnav a:hover::before,
      .topnav a:active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fa7840;
        border-radius: 10px;
        z-index: -1;
        transform: translateY(-5px);
        box-shadow: 0 10px 15px #fa7840;
      }

      .topnav .logo a:hover::before,
      .topnav .profile a:hover::before {
        background: none;
        box-shadow: none;
      }

      .topnav-hidden {
        opacity: 0;
        transition: transform 0.4s, opacity 0.2s;
      }

      .logo {
        float: left;
        margin-top: -20px;

      }

      .logo img {
        height: 100px;
        /*padding-top: 40px;
        padding-left: 20px;*/
      }

      .button-container {
          position: absolute; 
          margin-top: 1px; 
          right: 10px;
        }

      .button-container button {
        background-color: #0b090a; 
        border: none; 
        color: #e36414;
        padding: 10px 20px;
        margin-right: 50px;
        cursor: pointer; 
        font-weight: bold; 
        font-size: 15px;
        width: 100px;
        height: 60px;
     }   

      .button-1 {
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 20px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px; 
        margin-top:30px;
        padding: 19px 24px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }

      .button-1:active,
      .button-1:hover {
          outline: 0;
      }

    @media (min-width: 768px) {
      .button-1 {
        font-size: 24px;
        min-width: 196px;
      }
    }
    
      
      .topnav a::before {
        transition: all 0.3s ease;
      }     

        .container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 35px;
        color: white;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        font-size: 50px;
        bottom:250px;
      }

      .tracking img {
        width: 50px; 
        height: auto;
      }

      .tracking {
        position: fixed;
        bottom: 20px;
        right: 20px;
      }

      .bmi-calculator {
        background-color: #242423; /* Adjust the blue color as needed */
        color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        margin: 0 auto;
        margin-top:80px;
      }

      .bmi-calculator h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
      }

      .form-group {
      margin-bottom: 10px;
      }

      .form-group label {
        display: block;
        font-size: 30px;
      }

      #result {
        font-size: 20px;
        margin-top: 15px;
        margin-right: 10px;
      }